.about-container{
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.big-text {
    position: absolute;
    color:#ffffff;
    text-align: center;
    margin-top: -15%;
    font-size: 5rem;
}
h2 {
  color:white;
  text-align: center;
  font-size: 30px;
  width: 70%;
}
