
.contact-container{
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

h1 {
  color:white;
  text-align: center;
  font-size: 50px;
  width: 70%;
}
.contact-container {
  color:white;
  text-align: center;
  font-size: 30px;
  width: 70%;
}
