section#contact {
  padding: 50px 0;
}
section#contact::before{
  content:"";
  background-image: url(header.jpg);
  opacity:0.5;
  position:absolute;
  background-size: cover;
  top:-100;
  bottom:-290;
  right:0;
  left:0;
  width:auto;
  height:auto;
  z-index:-3;
}
  section#contact .section-container {
    margin: 0 auto;
    max-width: 800px; }
    section#contact .section-container h1 {
      color: white;
      text-align: center;
      font-weight: 700;
      font-size: 70px;
    }
    section#contact .section-container form {
      display: inline-block;
      max-width: 450px;
      width: 60%; }
      @media only screen and (max-width: 29.9375em) {
        section#contact .section-container form {
          width: 100%; } }
      section#contact .section-container form label {
        display: block;
        font-size: 20px;
        color: white;}
      section#contact .section-container form input, section#contact .section-container form textarea {
        padding: 10px;
        max-width: 450px;
        width: 98%;
        outline: none;
        border: 1px solid #c5c5dc; }
        section#contact .section-container form input:focus, section#contact .section-container form textarea:focus {
          border: 1px solid #edab18;
          box-shadow: 0 0 2px #edab18; }
      section#contact .section-container form textarea {
        height: 100px;
        resize: vertical;

      }
      section#contact .section-container form .contact-field {
        margin: 15px 0; }
      section#contact .section-container form .contact-submit-btn {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 45px;
        outline: none;
        border: none;
        background-color: #efb430;
        box-shadow: 3px 3px 5px rgba(60, 60, 60, 0.4);
        color: #fff;
        font-weight: 300;
        font-size: 22px;
        transition: 0.2s all ease; }
        section#contact .section-container form .contact-submit-btn:hover {
          background-color: #edab18; }
    section#contact .section-container .contact-msg {
      float: right;
      padding: 32px 0;
      width: 35%;
      color: white;
      vertical-align: top;
      white-space: nowrap;
      white-space: normal;
      font-size: 25px;}
      @media only screen and (max-width: 29.9375em) {
        section#contact .section-container .contact-msg {
          display: block;
          float: none;
          padding: 30px 0;
          width: 100%;
          text-align: center;
          text-align: left;} }
      section#contact .section-container .contact-msg p {
        margin-bottom: 30px;
        white-space: normal; }
        section#contact .section-container .contact-msg p a, section#contact .section-container .contact-msg p span.subscribe-btn {
          color: #edab18;
          font-weight: 400;
          cursor: pointer;

        }
          section#contact .section-container .contact-msg p a:hover, section#contact .section-container .contact-msg p span.subscribe-btn:hover {
            color: #da9c11; }
